* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("twinkling-stars-in-the-night-sky_na1y5mute__F0009.png");
    background-attachment: fixed;
    color:white;
}

#container {
    width: 970px;
    margin: auto;
}

.card {
    vertical-align: top;
    width: 140px;
    height: 140px;
    border: 2px solid blue;
    margin: 5px;
}

.gameInfo {
    color: red;
    font-size: 50px;
}
